
#containerProductDetail {
    width: 80%;
    min-width: 1200px;
    margin: 10px auto;
}
#sourceProductDetail {
    margin: 0px auto;
    padding: 15px;
}
#product-detail{
    margin: 20px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3 - 5px));
    grid-gap: 30px;
    background-color: var(--form-bg);
}
#product-detail .container-img{
    display: flex;
    flex-direction: column;
}
#product-detail .large-img{
    height: 500px;
    object-fit: cover;
}
#product-detail .scrollImage {
    position: relative;
}
#product-detail .small-img{
    max-width: 100%;
    display: flex;
    margin: 10px auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}
#product-detail .small-img::-webkit-scrollbar{
    display: none;
}
#product-detail .small-img img{
    height: 130px;
    object-fit: cover;
    width:150px;
    margin: 0 10px;
}


#product-detail .infor{
    grid-column: 2/4;
}
#product-detail .name{
    font-size: 30px;
    font-weight: bolder;
}
#product-detail .price{
    font-weight: bolder;
    margin: 20px 0;
}
#product-detail .price del{
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 15px;
}
#product-detail .price span {
    font-size: 2rem;
    margin-right: 15px;

}
#product-detail .price .sale {
    font-size: 0.8rem; 
    color: var(--white-color);
    background-color: var(--bl);
    border-radius: 5px;
    padding: 0 5px;
}
#product-detail .category {
    font-size: medium;
    color: var(--text-color);
    width: 110px;
    display: block;
}
#product-detail .flex {
    margin-bottom: 25px;
    display: flex;
}
#product-detail .color button,
#product-detail .size button{
    background-color: #cccc;
    color: var(--bl);
    border-radius: 0px;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 16px;
    border: 0.5px solid var(--white-color);
}
#product-detail .form-count {
    margin-right: 20px;
}
#product-detail .count button, input {
    background-color: #cccc;
    color: var(--bl);
    border-radius: 0px;
    padding: 3px 8px;
    font-size: 16px;
    outline: 0;
    border: 0.5px solid var(--white-color);
    text-align: center;
}
#product-detail .infor button.active{
    background-color: var(--bl);
    color: white;
}
#product-detail .bought button {
    font-size: 1rem;
    padding: 8px 30px;
    margin-right: 20px;
    border-radius: 3px;
}
#product-detail .bought .add {
   background: rgba(227, 150, 159, 0.163);
   border: 1px solid var(---color);
   color: var(---color);
}
#product-detail .bought .add:hover {
    background-color: transparent;
}
#product-detail #prev,
#product-detail #next {
    position: absolute;
    height: 50%;
    color: var(--white-color);
    transform: translateY(50%);
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #2f364050;
    width: 10%;
    display: none;
    cursor: pointer;
}
#product-detail #next{
    right: 0;
}
#product-detail .small-img:hover #next,
#product-detail .small-img:hover #prev {
    display: flex;
}
#product-detail .contact {
    display: flex;
    margin-bottom: 20px;
}
#messenger, #facebook, #twitter, #instagram {
    font-size: 1.8em;
    border-radius: 50%;
    padding: 6px;
    margin: 15px 10px 15px 0;
    cursor: pointer;
}
#facebook {
    background-color:var(--white-color) ;
    color: #341f97;
}
#twitter {
    background-color:#48dbfb ;
    color: var(--white-color);
}
#instagram {
    color: var(--white-color);
    background: linear-gradient(135deg, #341f97,#be2edd,#e84118,#fbc531,#e58e26)
}
#messenger {
    background-color:var(--white-color) ;
    color: #2e86de;
}
#product-detail .contact .contact-linked {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    font-size: 1.3rem;
}
#product-detail .contact .contact-linked i {
    color: var(---color);
    font-size: 1.5rem;
    margin: 8px;
}
#product-detail .Customer-benefits {
    display: flex;
    height: 50px;
    width: 86%;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
#product-detail .Customer-benefits i {
    color: var(---color);
    font-size: 0.8rem;
    transform: translateY(-2px);
}
.Product-Description{
    background-color: var(--form-bg);
    padding: 0 10px;
}
.Product-Description .title {
    font-size: 1.8rem;
    margin: 30px 0;
}
#containerProductDetail .related-products {
    background-color: var(--form-bg);
    margin-top: 30px;
}
#containerProductDetail .related-products .title {
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}
#containerProductDetail .related-products .list-products {
    display: flex;
    margin: 50px 0;
    padding-bottom: 30px;
}
#containerProductDetail .related-products .list-products a {
    margin-right: 39px;
}